<html>
<head>
    <? _ = try partial.header.render(output, context); ?>
    <title> Rules </title>
</head>
<body>
    <header>
        <h1> Rules </h1>
    </header>
    <div class="ban">
        <h2>
            Global Rules
        </h2>
        <ol>
            <li>Do not post content illegal in (host country here).</li>
            <li>Do not spam.</li>
            <li>Etc.</li>
        </ol>
        <p>Moderators may remove posts according to their own discretion.</p>
    </div>
</body>
</html>
