<?
    const user_data_opt = context.user_data_opt;
    const flags = root.model.user.flags(user_data_opt);
?>

<div class="boardlist">
    <a href="/">[Home]</a>
    <a href="/rules">[Rules]</a>
    <a href="/faq">[FAQ]</a>
    <? if(user_data_opt) |user_data| { ?>
        <? if(flags.atLeastGlobalMod()) { ?>
            <a href="/mod">[Global Dashboard]</a>
        <? } ?>
        <? if(user_data.board_data_opt) |board_data| { ?>
            <? if(flags.atLeastMod()) { ?>
                <a href="/<(board_data.board)>/mod">[Dashboard]</a>
            <? } ?>
        <? } ?>
        <a href="/user">[User Dashboard]</a>
        User: <(user_data.name)>
        <a href="/user/logout">[Logout]</a>
    <? } else { ?>
        <a href="/user/register">[Register]</a>
        <a href="/user/login">[Login]</a>
    <? } ?>
</div>
