<?
    const config = context.config;
    const boards = context.boards;
    const recent_images = context.recent_images;
    const recent_posts = context.recent_posts;
    const news = context.news;
    const stats = context.stats;

    var buff: [32]u8 = undefined;
    var size_str = try util.sizeStr(&buff, stats.content_size);
    
    const user_data_opt = context.user_data_opt;
    const flags = root.model.user.flags(user_data_opt);
?>

<html>
<head>
    <? _ = try partial.header.render(output, .{}); ?>
    <title> <(config.title)> </title>
</head>
<body>
    <? _ = try partial.top.render(output, context); ?>
    <header>
        <? if(config.icon) |icon| { ?>
            <img class="icon" src="/static/<(icon)>">
        <? } ?>
        <h1><(config.title)></h1>
        <div class="subtitle"><(config.subtitle)></div>
    </header>
    <? if(config.banner) |banner| { ?>
        <img class="board_image" src="<(banner)>">
    <? } ?>
    
    <div class="box-wrap">
        <fieldset>
        <legend>Boards</legend>
        <ul>
            <? for(boards) |board| { ?>
                <li class="boardlinksurl">
                    <a href="/<(board.board)>/">
                        /<(board.board)>/
                    </a>
                </li>
            <? } ?>
        </ul>
        </fieldset>
        <div class="box left">
            <h2>Recent Images</h2>
            <ul>
                <? for(recent_images) |post| { ?>
                    <? const width = post.thumb_width.?; ?>
                    <? const height = post.thumb_height.?; ?>
                    <li>
                        <a href="<? try util.writePath(output, post); ?>">
                            <img
                                src="/static/thumbs/<{post.hash}>.jpg"
                                style="width:<[width]>px; height:<[height]>px"
                                alt=""
                            >
                        </a>
                    </li>
                <? } ?>
            </ul>
        </div>
        <div class="box right">
            <h2>Latest Posts</h2>
            <ul>
                <? for(recent_posts) |post| { ?>
                    <li>
                        <a href="<? try util.writePath(output, post); ?>">
                        <strong><(post.board)></strong>: 
                            <? if(post.message.len <= config.snippet_length) { ?>
                                <(post.message)>
                            <? } else { ?>
                                <(post.message[0..config.snippet_length])>...
                            <? } ?>
                        </a>
                    </li>
                <? } ?>
            </ul>
        </div>
        <div class="box right">
            <h2>Stats</h2>
            <ul>
                <li>Total posts: <[ stats.total_posts ]></li>
                <li>Unique posters: <[ stats.unique_posters ]></li>
                <li>Unique content: <{ size_str }></li>
            </ul>
        </div>
    </div>
    <div class="ban">
    <? if(news.len == 0) { ?>
        <p style="text-align:center" class="unimportant">(No news to show.)</p>
    <? } else { ?>
        <? for(news) |entry| { ?>
            <h2 id="<[entry.entry_id]>">
                <? if(entry.subject) |subject| { ?>
                    <{subject}>
                <? } else { ?>
                    <em>no subject</em>
                <? } ?>
                <span class="unimportant">
                    &mdash; by <{entry.name}> at
                    <? _ = try partial.date.render(output, .{.date = entry.date}); ?>
                </span>
            </h2>
            <p><{ entry.body }></p>
        <? } ?>
    <? } ?>
    </div>
    <? if(flags.atLeastGlobalMod()) { ?>
        <form method="post" action="/">
            <table>
                <tr>
                    <th>
                        Subject
                    </th>
                    <td>
                        <input type="text" name="subject" size="25" maxlength="100" autocomplete="off">
                        <input style="margin-left:2px;" type="submit" value="Post">
                    </td>
                </tr>
                <tr>
                    <th>
                        Message
                    </th>
                    <td>
                        <textarea name="message" rows="5" cols="35"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    <? } ?>
    <hr>
</body>
