<?
    const board = context.board;
    //const post = context.thread;
    
    var buff = [_]u8{0}**256;
    const action = try std.fmt.bufPrint(
        &buff,
        "/{s}/res/{}",
        .{board.board, context.thread_rows[0].post},
    );
?>

<html>
<head>
    <? _ = try partial.header.render(output, .{}); ?>
    <title>
        /<(board.board)>/ - <(board.name)>
    </title>
</head>
<body>
    <? _ = try partial.top.render(output, context); ?>
    <header>
        <h1>
            /<(board.board)>/ - <(board.name)>
        </h1>
    </header>
    <? _ = try partial.post_form.render(output, .{
        .action = action,
        .user_data_opt = context.user_data_opt,
    }); ?>
    <hr>
    <a href="/<(board.board)>/">Return</a>
    <form name="postcontrols" method="post">
        <? _ = try partial.thread.render(output, context); ?>
        <? _ = try partial.misc_form.render(output, context); ?>
    </form>
    <a href="/<(board.board)>/">Return</a>
</body>
