<?
    const board = context.board;
    const threads = context.threads;
    const config = context.config;
    
    var buff = [_]u8{0}**256;
    const action = try std.fmt.bufPrint(&buff, "/{s}/", .{board.board});
    
    const user_data_opt = context.user_data_opt;
    const flags = root.model.user.flags(user_data_opt);
?>

<html>
<head>
    <? _ = try partial.header.render(output, context); ?>
    <link rel="stylesheet" media="screen" href="/static/catalog.css">
    <title>
        /<(board.board)>/ - <(board.name)>
    </title>
</head>
<body>
    <? _ = try partial.top.render(output, context); ?>
    <header>
        <h1>
            /<(board.board)>/ - <(board.name)>
        </h1>
    </header>
    <? _ = try partial.post_form.render(output, .{
        .action = action,
        .user_data_opt = context.user_data_opt,
        .config = context.config,
    }); ?>
    <hr>
    <ul>
    <? for(threads) |thread| { ?>
        <div class="thread" style="overflow-y: auto;">
            <a href="/<( thread.board )>/res/<[ thread.post ]>">
                <? if(thread.file_state) |file_state| { ?>
                    <? const exists = file_state == .none; ?>
                    <? const not_removed = thread.image_removed.? == 0; ?>
                    <? const public = exists and not_removed; ?>
                    <? const can_see = public or flags.atLeastMod(); ?>
                    <? if(exists and can_see) { ?>
                        <? if(thread.thumb_width != null) { ?>
                            <img src="/static/thumbs/<{thread.hash.?}>.jpg">
                        <? } else { ?>
                            <img src="/static/<{config.default_file_thumbnail}>">
                        <? } ?>
                    <? } else { ?>
                        <img src="/static/<{config.deleted_file_thumbnail}>">
                    <? } ?>
                <? } else { ?>
                    <img src="/static/<{config.no_file_thumbnail}>">
                <? } ?>
            </a>
            <br>
            <span class="replies">
                <strong>R: <[thread.replies]> / I: <[thread.images]></strong>
                <? if(thread.subject) |subject| { ?>
                    <p class="intro">
                        <span class="subject">
                            <(subject)>
                        </span>
                    </p>
                <? } else { ?>
                    <br>
                <? } ?>
                <(thread.message)>
            </span>
        </div>
    <? } ?>
    </ul>
    <a href="/">Return</a>
    <? _ = try partial.footer.render(output, context); ?>
</body>
</html>
